<form method="post" action="{{ path('app_article_boutique_delete', {'id': article_boutique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article_boutique.id) }}">
    <button class="btn">Delete</button>
</form>
